In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Review.csv")
data

                                              Review
0  I like this books very much!!! It is VERY INTE...
1  Do not like this book. so boring 2. Too length...

In [3]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [4]:
#defining the function to remove punctuations in the documents
def remove_punctuation(text):
    #punctuationfree = "".join([i for i in text if i not in string.punctuation])
    #return punctuationfree
    # Initialize an empty string to store the result
    punctuation_free = ""
    
    # Iterate over each character in the text
    for i in text:
        # Check if the character is not in the string.punctuation set
        if i not in string.punctuation:
            # If not, add the character to the result string
            punctuation_free += i
    
    return punctuation_free

In [5]:
#applying the remove_punctuation function to the 'Review' column and storing the result in a new column 'clean_punctuation'
data['clean_punctuation']= data['Review'].apply(remove_punctuation)
data

,Review,clean_punctuation
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy

In [6]:
data['clean_punctuation']= data['Review'].apply(remove_punctuation)
data

,Review,clean_punctuation
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy

In [7]:
#to standardize the cases in the documents into lower case
data['clean_lower']= data['clean_punctuation'].str.lower()
data

,Review,clean_punctuation,clean_lower
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy

In [8]:
import re

In [9]:
def remove_numbers(text):
    return re.sub("[\d-]",'',text)

In [10]:
data['clean_number'] = data['clean_lower'].apply(remove_numbers)
data

,Review,clean_punctuation,clean_lower,clean_number
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy

In [11]:
#import Natural Language Processing (NLP) library called 
#Natural Language Toolkit (NLTK)
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\cyber\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [12]:
from nltk.tokenize import word_tokenize

In [13]:
data['In Terms']= data['clean_number'].apply(word_tokenize)
data

,Review,clean_punctuation,clean_lower,clean_number,In Terms
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...,"[i, like, this, books, very, much, it, is, ver..."
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy,"[do, not, like, this, book, so, boring, too, l..."

In [14]:
#download stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\cyber\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [15]:
#Get the list of English stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')

In [16]:
# Print the list of stopwords
print(stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [17]:
#defining the function to remove stopwords from tokenized text
def remove_stopwords(text):
    output = []
    for i in text:
        if i not in stopwords:
            output.append(i)
    return output

In [18]:
#Applying the remove_stopwords function to the 'token_data' column and storing the result in a new column 'clean_xstopwords'
data['clean_xstopwords'] = data['token_data'].apply(remove_stopwords)
data

KeyError: 'token_data'

In [19]:
#Applying the remove_stopwords function to the 'token_data' column and storing the result in a new column 'clean_xstopwords'
data['clean_xstopwords'] = data['In Terms'].apply(remove_stopwords)
data

,Review,clean_punctuation,clean_lower,clean_number,In Terms,clean_xstopwords
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...,"[i, like, this, books, very, much, it, is, ver...","[like, books, much, interesting]"
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy,"[do, not, like, this, book, so, boring, too, l...","[like, book, boring, lengthy]"

In [20]:
#importing the Stemming function from nltk library
from nltk.stem.porter import PorterStemmer

In [21]:
#defining the object for stemming
porter_stemmer = PorterStemmer()

In [22]:
#defining a function for stemming
def stemming(text):
    stem_text = []
    for word in text:
        stemmed_word = porter_stemmer.stem(word)
        stem_text.append(stemmed_word)
    return stem_text

In [23]:
#applying the stemming function to the 'clean_xstopwords' column and storing the result in a new column 'clean_stemmed'
data['clean_stemmed'] = data['clean_xstopwords'].apply(stemming)
data

,Review,clean_punctuation,clean_lower,clean_number,In Terms,clean_xstopwords,clean_stemmed
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...,"[i, like, this, books, very, much, it, is, ver...","[like, books, much, interesting]","[like, book, much, interest]"
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy,"[do, not, like, this, book, so, boring, too, l...","[like, book, boring, lengthy]","[like, book, bore, lengthi]"

In [24]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\cyber\AppData\Roaming\nltk_data...

True

In [25]:
#importing the Lemmatizer function from nltk library
from nltk.stem import WordNetLemmatizer

In [26]:
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

In [27]:
#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = []
    for word in text:
        lemmatized_word = wordnet_lemmatizer.lemmatize(word)
        lemm_text.append(lemmatized_word)
    return lemm_text

In [28]:
#applying the lemmatizer function to the 'clean_xstopwords' column and storing the result in a new column 'clean_lemmatized1'
data['clean_lemmatized1']=data['clean_xstopwords'].apply(lemmatizer)

In [29]:
#applying the lemmatizer function to the 'clean_stemmed' column and storing the result in a new column 'clean_lemmatized2'
data['clean_lemmatized2']=data['clean_stemmed'].apply(lemmatizer)
data

,Review,clean_punctuation,clean_lower,clean_number,In Terms,clean_xstopwords,clean_stemmed,clean_lemmatized1,clean_lemmatized2
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...,"[i, like, this, books, very, much, it, is, ver...","[like, books, much, interesting]","[like, book, much, interest]","[like, book, much, interesting]","[like, book, much, interest]"
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy,"[do, not, like, this, book, so, boring, too, l...","[like, book, boring, lengthy]","[like, book, bore, lengthi]","[like, book, boring, lengthy]","[like, book, bore, lengthi]"

In [30]:
datas = "Practice Lab ^"
datas

'Practice Lab ^'

In [31]:
comment = "Lab 4 IS01081493 Start Here"
comment

'Lab 4 IS01081493 Start Here'

In [32]:
data = pd.read_csv("Review.csv")
data

                                              Review
0  I like this books very much!!! It is VERY INTE...
1  Do not like this book. so boring 2. Too length...
2                                   Shy what bossess
3                           28 April is the best day
4                                  whats yours names
5                                  my names is Azfar
6                                   the time is 2 pm

In [33]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [34]:
def remove_tbaca(text):
    punctuation_free = ""
    
    for a in text:
        if a not in string.punctuation:
            punctuation_free += a
            
    return punctuation_free

data['Clean_Tbaca'] = data['Review'].apply(remove_tbaca)
data

,Review,Clean_Tbaca
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy
2,Shy what bossess,Shy what bossess
3,28 April is the best day,28 April is the best day
4,whats yours names,whats yours names
5,my names is Azfar,my names is Azfar
6,the time is 2 pm,the time is 2 pm

In [35]:
data['Perkataan_Kecil'] = data['Clean_Tbaca'].apply(remove_tbaca)
data

,Review,Clean_Tbaca,Perkataan_Kecil
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,I like this books very much It is VERY INTERES...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,Do not like this book so boring 2 Too lengthy
2,Shy what bossess,Shy what bossess,Shy what bossess
3,28 April is the best day,28 April is the best day,28 April is the best day
4,whats yours names,whats yours names,whats yours names
5,my names is Azfar,my names is Azfar,my names is Azfar
6,the time is 2 pm,the time is 2 pm,the time is 2 pm

In [36]:
data['Perkataan_Kecil'] = data['Clean_Tbaca'].str.lower()
data

,Review,Clean_Tbaca,Perkataan_Kecil
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy
2,Shy what bossess,Shy what bossess,shy what bossess
3,28 April is the best day,28 April is the best day,28 april is the best day
4,whats yours names,whats yours names,whats yours names
5,my names is Azfar,my names is Azfar,my names is azfar
6,the time is 2 pm,the time is 2 pm,the time is 2 pm

In [37]:
import re

def buang_nombor(text):
    return re.sub("[\d-]", '',text)

data['Takde_number'] = data['Perkataan_Kecil'].apply(buang_nombor)
data

,Review,Clean_Tbaca,Perkataan_Kecil,Takde_number
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy
2,Shy what bossess,Shy what bossess,shy what bossess,shy what bossess
3,28 April is the best day,28 April is the best day,28 april is the best day,april is the best day
4,whats yours names,whats yours names,whats yours names,whats yours names
5,my names is Azfar,my names is Azfar,my names is azfar,my names is azfar
6,the time is 2 pm,the time is 2 pm,the time is 2 pm,the time is pm